.fa-map-marker{
    color: red;
    font-size:xx-large;
}

.fa-whatsapp{
    color: seagreen;
    font-size:xx-large;
}

.fa-instagram{
    color: rgb(241, 16, 99);
    font-size:xx-large;
}

.fa-phone{
    color:rgb(78, 77, 77);
    font-size:xx-large;
}

.fa-comments{
    color:white;
    font-size:xx-large; 
    
}

nav .contacts-itens{
    height: 50px;
    width: 50px;
    cursor: pointer;
    border-radius: 100%;
    background-color: var(--color-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.contacts{
    width: 50px;
}

.contact-div{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


.contacts .nav-itens{
    position: absolute;
    top:-250px;
    opacity: 0;
    transition: all 0.3s;
}

.contacts .nav-show{
    opacity: 1;
}

.contacts .nav-itens a {
    margin: 10px 0;
    color: #fff;
    background-color: var(--color-blue);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    display: flex;
    flex-direction:row;
    align-items: center;
}
.contacts .nav-itens a i{
    margin: auto;
}

.contact-area .fa {
    display: line;
    margin: 0em 0.3em;
}

.contact-div .navbar{
    padding: 0;
}


