aside.user-logo {
    background-color: var(--color-blue);
    display: flex;
    justify-content: center;
    align-items: center;
}

aside.user-logo img {
    width:100%;
}
@media(max-width: 576px){
    aside.user-logo img {
        height: 7em;
        width:10em;
    }
}