/*header.header{
    background-color: #FFF;
    padding: 0px 15px;
    overflow: hidden;
    white-space: nowrap;
    box-shadow: var(--shadow);
}



header.header h1 {
    font-size: 1.8em;
}*/



.home-header {
    margin-top: 3em;
    margin-right:1em;
    margin-bottom: 0.5em;
}